<!DOCTYPE html>
<html>
<head>
	<title>SGA Document Archive - Advanced Search</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../public/css/advanced.css"></head>
</head>
<body style="background-image: url('../public/images/background.jpg'")>
<br>
<script type="text/javascript" src="../public/js/advanced.js"></script>
<div class="container">
		<br>
	<div class="header">
		<a href="/upload"><button style="margin-right: 10px; display:inline; float: right" type="button" class="btn btn-default btn-md">Upload</button></a>

		<div class="logo">
			<a href="/"><img style="margin-left: 8px" src="../public/images/logo.jpg" class="logo logoImg"></a>
		</div>
		
		<div class="search">
			<h2 style="font-weight: bold;">Georgia College<br></h2>
			<h3>Student Government Association</h3>
			<h4 style="font-style: italic; padding-top: 6px;">Document Archive</h4>
			
			<br>
			<form ref="searchForm"
			  id="searchForm"
			  action="/search"
			  method="post"
			  enctype="multipart/form-data">
			<fieldset>

			<input type="text" class="form-control input-md" id="search" name="searchText"  placeholder="Enter your search query here..." required>

			<select id="filterSelect" name="filterSelect" class="input-md form-control">
				<option value="relevancy" selected>Most Relevant</option>
				<option value="recency">Most Recent</option>
				<option value="highest">Highest Dollar Amount</option>
				<option value="lowest">Lowest Dollar Amount</option>
			</select>
			<button type="submit" name="searchBtn" class="btn btn-primary btn-md">Search</button><br><br>
			<a href="/advanced">Advanced Search</a>
			<br>
			</fieldset>
			</form>
		</div>
		

	</div>
	
	<div class="containerdivNewLine"></div>
<br>
<hr>

<!-- 
	<div class="header">
		<br>
		<div class="logo">
			<a href="/"><img style="margin-left: 8px" src="../public/images/logo.jpg" class="logoImg"></a>
		</div>
		
		<div class="search">
			<br>
			<h2 style="font-weight: bold;">Georgia College<br></h2>
			<h3>Student Government Association</h3>
			<h4 style="font-style: italic; padding-top: 6px;">Document Archive</h4>
			
			<br>
			<form ref="searchForm"
			  id="searchForm"
			  action="http://localhost:3000/search"
			  method="post"
			  enctype="form-data">
			<fieldset>
			<input type="text" class="form-control input-md" id="search" name="searchText" placeholder="Enter your search query here..." required>
			<button type="submit" name="searchBtn" class="btn btn-primary btn-md">Search</button>
			</fieldset>
			</form>
			<a href="/advanced">Advanced Search</a>
		</div>
		
		<div class="menu">
			<a href="/upload"><button type="button" class="menuBtn btn btn-default btn-md btn-block">Upload</button></a>
			<a href="/login"><button type="button" class="menuBtn btn btn-primary btn-md btn-block">Sign In</button></a>
		</div>
	</div>
	
	<div class="containerdivNewLine"></div>
	<hr> -->
	<form ref='advancedForm'
		  id='advancedForm'
		  action='/advancedSearch' 
		  method="post"
		  enctype="multipart/form-data">
	<fieldset>
	<div class="searchOptions">
		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h1>Advanced Search</h1>
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-6">
				<div style="font-weight: bold;">Search Query:  </div>

				<input name="advText" type="text" id="docText" class="form-control input-block input-lg" placeholder="Enter your search query here...">
				<br>
			</div>
			<div class="col-md-4">
				<div style="font-weight: bold;">Filter Results By: </div>
				<select id="advFilterSelect" name="advFilterSelect" class="input-lg form-control">
					<option value="relevancy" selected>Most Relevant</option>
					<option value="recency">Most Recent</option>
				<option value="cost (highest first)">Highest Dollar Amount</option>
				<option value="cost (lowest first)">Lowest Dollar Amount</option>
				</select>

			</div>
			<div class="col-md-1"></div>
		</div>
	

<br>


		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				
				<h4>Document Types to Search:</h4>
			</div>
			<div class="col-md-1"></div>
		</div>
	

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
					<div class="col-md-2">
						<div class="checkbox">
							<label><input type="checkbox" name="billCheck" id="billCheck" checked="true" onchange="changeAmountBox()">Bills</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
							<label><input type="checkbox" name="resCheck" checked="true" id="resCheck" onchange="changeAmountBox()">Resolutions</label>
						</div>			
					</div>

			<div class="col-md-7"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<hr>
				<h4>Year Range to Search:</h4>
				<br>
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<label>Minimum<input type="number" name="yearMin" id="yearMin" class="form-control input-block" placeholder="2016"></label>
			</div>
			<div class="col-md-3">
				<label>Maximum<input type="number" name="yearMax" id="yearMax" class="form-control input-block" placeholder="2017"></label>
			</div>
			<div class="col-md-5"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<hr>
				<h4>Bill Value Range to Search:</h4>
				<br>
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<label>Minimum<input type="text" name="amtMin" id="amtMin" class="form-control input-block" placeholder="0.00"></label>
			</div>
			<div class="col-md-3">
				<label>Maximum<input type="text" name="amtMax" id="amtMax" class="form-control input-block" placeholder="1,000,000.00"></label>
			</div>
			<div class="col-md-5"></div>
		</div>




		<br><br>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<button type="submit" id="advBtn" class="btn btn-primary btn-block btn-lg">Search</button>
			<br>
			<br>
			<br>	<br>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	</fieldset>
	</form>

	<div style="margin-bottom:10px; font-weight: bold" class="footer">

			<a style="display: inline; float: left;" href="/help">Help</a>
		<a style="display: inline; float: right;" href="/contact">Contact Us</a><br>
	</div>

</div>
<br>
</body>
</html>