<!DOCTYPE html>
<html>
<head>
	<title>SGA Document Archive - Advanced Search</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../public/css/advanced.css"></head>
</head>
<body style="background-image: url('../public/images/background.jpg'")>
<br>
<script type="text/javascript" src="../public/js/advanced.js"></script>
<div class="container">
	

	<div class="header">
		<br>
		<div class="logo">
			<a href="/home"><img style="margin-left: 8px" src="../public/images/logo.jpg" class="logoImg"></a>
		</div>
		
		<div class="search">
			<br>
			<h2 style="font-weight: bold;">Georgia College<br></h2>
			<h3>Student Government Association</h3>
			<h4 style="font-style: italic; padding-top: 6px;">Document Archive</h4>
			
			<br>
			<input type="text" class="form-control input-md" id="search" name="searchText" placeholder="Enter your search query here..." required>
			<a href="/results"><button type="submit" name="searchBtn" class="btn btn-primary btn-md">Search</button></a>
			<a href="/advanced">Advanced Search</a>
		</div>
		
		<div class="menu">
			<a href="/upload"><button type="button" class="menuBtn btn btn-default btn-md btn-block">Upload</button></a>
			<a href="/login"><button type="button" class="menuBtn btn btn-primary btn-md btn-block">Sign In</button></a>
		</div>
	</div>
	
	<div class="containerdivNewLine"></div>
	<hr>
	<form ref='advancedForm'
		  id='advancedForm'
		  action='http://localhost:3000/upload' 
		  method="post"
		  enctype="multipart/form-data">
	<fieldset>
	<div class="searchOptions">
		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h1>Advanced Search</h1>
			</div>
			<div class="col-md-1"></div>
		</div>
		<form>
			<fieldset>
		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<input name="searchText" type="text" id="docText" class="form-control input-block input-lg" placeholder="Enter your search query here...">
				<br>
			</div>
			<div class="col-md-1"></div>
		</div>
		<br>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h4>Span of Search:</h4>
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<form>	
				<fieldset>
				<div class="col-md-2">
					<div class="radio">
						<label><input type="radio" name="spanMin">Tagline Only</label>
					</div>
				</div>
				<div class="col-md-2">
					<div class="radio">
						<label><input type="radio" name="spanMax" checked="true">Entire Document</label>
					</div>			
				</div>
				</fieldset>
			</form>
			<div class="col-md-7"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<hr>
				<h4>Document Types to Search:</h4>
			</div>
			<div class="col-md-1"></div>
		</div>
	

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<form>	
				<fieldset>
					<div class="col-md-2">
						<div class="checkbox">
							<label><input type="checkbox" name="billCheck" id="billCheck" checked="true" onchange="changeAmountBox()">Bills</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
							<label><input type="checkbox" name="billCheck" checked="true" id="resCheck">Resolutions</label>
						</div>			
					</div>
				</fieldset>
			</form>
			<div class="col-md-7"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<hr>
				<h4>Year Range to Search:</h4>
				<br>
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<label>Minimum<input type="number" name="yearMin" id="yearMin" class="form-control input-block" placeholder="2016"></label>
			</div>
			<div class="col-md-3">
				<label>Maximum<input type="number" name="yearMax" id="yearMax" class="form-control input-block" placeholder="2017"></label>
			</div>
			<div class="col-md-5"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<hr>
				<h4>Bill Value Range to Search:</h4>
				<br>
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<label>Minimum<input type="text" name="amtMin" id="amtMin" class="form-control input-block" placeholder="0.00"></label>
			</div>
			<div class="col-md-3">
				<label>Maximum<input type="text" name="matMax" id="amtMax" class="form-control input-block" placeholder="1,000,000.00"></label>
			</div>
			<div class="col-md-5"></div>
		</div>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<hr>
			</div>
			<div class="col-md-1"></div>
		</div>

		<br>

		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<a href="/results"><button type="submit" class="btn btn-primary btn-block btn-lg">Search</button></a>

	
	<br>
	<br>
	<br>	<br>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	</fieldset>
	</form>


</div>
<br>
</body>
</html>