<!DOCTYPE html>
<html>
<head>
	<title>SGA Document Archive - Upload</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../public/css/upload.css"></head>
<body style="background-image: url('../public/images/background.jpg'")>
<script type="text/javascript">

// function checkFile(e) {

//     /// get list of files
//     var file = e.target.files;

//     /// go through the list of files
//     for (var i = 0, file; file = file_list[i]; i++) {

//         var sFileName = file.name;
//         var sFileExtension = sFileName.split('.')[sFileName.split('.').length - 1].toLowerCase();
// 	    var iFileSize = file.size;
// 	    var iConvert = (file.size / 1048576).toFixed(2);

//         /// OR together the accepted extensions and NOT it. Then OR the size cond.
//         /// It's easier to see this way, but just a suggestion - no requirement.
//         if (!(sFileExtension === "pdf" ||
//               sFileExtension === "doc" ||
//               sFileExtension === "docx") || iFileSize > 10485760) { /// 10 mb
//             txt = "File type : " + sFileExtension + "\n\n";
//             txt += "Size: " + iConvert + " MB \n\n";
//             txt += "Please make sure your file is in pdf or doc format and less than 10 MB.\n\n";
//             alert(txt);
//         }
//     }
// }
// function checkDoctype() {
// 	document.getElementById('fileInput').onchange = function () {
//   		alert('Selected file: ' + this.value);
//   		console.log('Selected file: ' + this.value);
// 	};
// }

function checkfile(sender) {
    var validExts = new Array(".docx", ".doc", ".pdf");
    var fileExt = sender.value;
    fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
    if (validExts.indexOf(fileExt) < 0) {
      alert("Invalid file selected, valid files are of " +
               validExts.toString() + " types.");
      return false;
    }
    else return true;
}
</script>
<br>
<div class="container">
	
		<br>
		<div class="menu">
			<a href="/upload"><button type="button" class="menuBtn btn btn-default btn-md btn-block">Upload</button></a>
			<a href="/login"><button type="button" class="menuBtn btn btn-primary btn-md btn-block">Sign In</button></a>
		</div>
	<div class="header">
		
		<div class="logo">
			<a href="/"><img style="margin-left: 8px" src="../public/images/logo.jpg" class="logo logoImg"></a>
		</div>
		
		<div class="search">

			
			<h2 style="font-weight: bold;">Georgia College<br></h2>
			<h3>Student Government Association</h3>
			<h4 style="font-style: italic; padding-top: 6px;">Document Archive</h4>
			
			<br>
			<form ref="searchForm"
			  id="searchForm"
			  action="http://localhost:3000/search"
			  method="post"
			  enctype="multipart/form-data">
			<fieldset>

			<input type="text" class="form-control input-md" id="search" name="searchText"  placeholder="Enter your search query here..." required>

			<select id="filterSelect" name="filterSelect" class="input-md form-control">
				<option value="relevancy" selected>Most Relevant</option>
				<option value="recency">Most Recent</option>
				<option value="highest">Highest Dollar Amount</option>
				<option value="lowest">Lowest Dollar Amount</option>
			</select>
			<button type="submit" name="searchBtn" class="btn btn-primary btn-md">Search</button><br><br>
			<a href="/advanced">Advanced Search</a>
			<br>
			</fieldset>
			</form>
		</div>
		

	</div>
	
	<div class="containerdivNewLine"></div>
<br>
<hr>
<br>

	<div class="upload">
		<form ref='uploadForm' 
      		  id='uploadForm' 
			  action='http://localhost:3000/upload' 
      		  method='post' 
      		  encType="multipart/form-data">
      		<fieldset>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<h2 style="font-weight: bold;">Upload New Document</h2>
					<img src="../public/images/newDoc.png" alt="newDoc" id="newDoc">
					<br>

        			<input type="file" name="myFile" />
        		</div>
			
				<div class="col-md-4">
					<label for="docID">Document ID:</label>
					<input type="text" placeholder="SB1617.01" name="idText" id="idText" class="btn-block input-lg">
					<br>

					<label for="doctypeSelect">Document Type:</label>
					<select id="doctypeSelect" name="doctypeSelect" class="input-lg form-control" onchange="changeTextBox();">
					    <option value="bill" name="billSelect" selected>Bill</option>
					    <option value="res" name="resSelect">Resolution</option>
					</select>
					<br>
					<label for="dollarText">Dollar Amount:</label>
					<input type="text" placeholder="0.00" name="dollarText" id="dollarText" class="btn-block input-lg">
					
					<br>

					<label for="dateSelect">Date:</label>
					<input type="date" class="btn-block input-lg" name="dateSelect" id="dateSelect">
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<br>
			<br>
		
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<label for="tagline">Tagline</label>
				<textarea class="form-control input-block input-lg" rows="3" id="tagText" name="tagText" placeholder="Ex: To allocate $2,000 to GC Miracle to fund stage costs for Dance Marathon 2017"></textarea>
			</div>
			<div class="col-md-3"></div>
		</div>
		<br>
		
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<a href="/upload"><button type="submit" class="btn-block btn-lg btn-success" id="upload-btn" onclick="checkfile(this)">Upload</button></a>
			</div>
			<div class="col-md-4"></div>
		</div>
		</fieldset>
		</form>
		<br><br><br><br><br>
	</div>
</div>
<br>

</script>
<script type="text/javascript" src="../public/js/upload.js"></script>
</body>
</html>