.container {
	background-color: white;
	box-shadow: 3px 3px 10px #212428;
}

.no-gutter > [class*='col-'] {
	padding-left: 0;
	padding-right: 0;
}

.header h2, h3, h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.logo {
	width: 20%;
	float: left;
}

.logo .logoImg {
	width: 14em;
	height: 14em;
}

.search {
	width: 80%;
	float:left;
}

.search input {
	width: 40%;
	float: left;
	display: inline;
}
.search select {
	width: 25%;
	float: left;
	display: inline;
}
.search button {
	width: 15%;
	float: left;
	display: inline;
}
.menu {
	width: 20%;
	float: right;
	display: inline;
}

.menu .menuBtn {
	width: 49%;
	display: inline;
}

.login #key {
	width: 175px;
	height: 175px;
	margin: auto;
	display: block;
}

hr {
	border: none;
	height: 1px;
	color: #CCC;
	background-color: #CCC;
}

.containerdivNewLine {
	clear: both; 
	float: none; 
	display: block; 
	position: relative; 
}
